body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    font-family: "Fira Sans Extra Condensed", sans-serif
}

header {
    background-color: #ffcc00;
    padding: 20px;
}

.account-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.account-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.account-card img {
    width: 100%;
    border-radius: 8px;
}

button {
    background-color: #ffcc00;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e6b800;
}